body{
background: linear-gradient(90deg, #8DBCC7 50%, #A4CCD9 50%);
color:black;
display: flex;
justify-content: center;
place-items: center;
}

h1{
  text-align: center;
  padding-top: 10px;
}
.parent{
  background-color: #393E46;
  height:400px;
  max-height: 60vh;
  max-width: 50vw;
  border-radius: 10px;
}
.form-div input{
  height:40px;
  width:300px;
  border:none;
  border-radius: 8px;
  margin:10px;
}
.form-div button{
  background-color:rgb(8, 115, 8);
  color:white;
  border:none;
  border-radius:5px;
  height:40px;
  margin-right: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.form-div button:hover{
  background-color: rgb(1, 67, 1);
  cursor: pointer;
}
.view-task{
  background-color: #263538;
}
.view-task ul{
  list-style: none;
}

